<ion-view hide-nav-bar="true">

<div class="backgnd"></div>

<div class="login modal">
    <!--<ion-header-bar class="login">
        <h1 class="title">Login</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeLogin()">Close</button>
        </div>
    </ion-header-bar>-->
      <div class="center">
        <label class="login item">
          <button class="button button-block button-positive" type="login-item button" ng-click="fbLogin()">Login with Facebook</button>
        </label>

        <!--<label class=" login item">
          <button class="button button-block button-positive" type="login-item button" ng-click="doLogin(loginData.username)">Log in</button>
        </label>-->

      </div>
</div>

</ion-view>
