<ion-view title="Account">
  <ion-content class="has-header">
    <div class="list card">
      <div class="item">
        <h2>{{account.name}}</h2>
        <p>{{account.city}}</p>
        <p>{{account.birthday}}</p>
      </div>
      <div class="item item-body">
        <img ng-src="http://graph.facebook.com/{{account.fb.id}}/picture?width=270&height=270"/>
      </div>
    </div>
    <label class="item">
      <button class="button button-block button-positive" type="button" ng-click="doLogout()">Logout</button>
  </ion-content>
</ion-view>
